*{
    margin: 0;
    padding: 0;
}

.body{
    background: url("content/bg.jpg");
    min-height: 100vh;
    background-position: bottom 0px right -1px; 
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
#board{
    width: 90vmin;
    height: 92vmin;
    background: linear-gradient(rgb(181, 243, 181),rgb(87, 87, 46));
    margin-left: 250px;
    border: 10px solid black;
    display: grid;
    grid-template-columns: repeat(18 , 1fr);
    grid-template-rows: repeat(18 , 1fr);
}
#scoreBox{
    position: absolute;
    top: 9px;
    left: 45px;
    font-size: 39px;
    font-weight: bold;
}
.head{
    background: linear-gradient(red, yellow);
    border: 2px solid darkblue;
    border-radius: 5px;
}
.snake{
    background: #000;
    border-radius: 12px;
}
.food{
    background: purple;
    border-radius: 9px;
}